<!DOCTYPE html>
<html ng-App="myApp">
<head>
  <meta charset="utf-8">
  <title>Marketplace App</title>

  <!-- stylesheete -->
  <link rel="stylesheet" href="vendors/bootstrap/css/bootstrap.css">
  <link rel="stylesheet" href="/styles/style.css">


  <!-- angular -->
  <script type="text/javascript" src="vendors/angular/angular.min.js"></script>
  <script type="text/javascript" src="vendors/angular-route/angular-route.min.js"></script>

  <!-- config files -->
  <script type="text/javascript" src="scripts/config/inventory.js"></script>
  <script type="text/javascript" src="scripts/config/constants.js"></script>

  <!-- client -->
  <script type="text/javascript" src="scripts/client.js"></script>

  <!-- classes -->
  <script type="text/javascript" src="scripts/classes/utilities.js"></script>
  <script type="text/javascript" src="scripts/classes/marketClass.js"></script>
  <script type="text/javascript" src="scripts/classes/playerClass.js"></script>

  <!-- factories -->
  <script type="text/javascript" src="scripts/factories/marketService.js"></script>

  <!-- controllers -->
  <script type="text/javascript" src="scripts/controllers/marketController.js"></script>
  <script type="text/javascript" src="scripts/controllers/playerController.js"></script>


</head>

<body>
  <div class="container-fluid centered">
    <div ng-controller = "PlayerController as player">
      <div class = "row header">
        <div class = "col-md-9">
          <h1>Welcome {{player.player1.name}} to the Marketplace!</h1>
        </div>
        <div class = "col-md-3">
          <h1>Cash: {{player.player1.cash | currency : "$"}}</h1>
        </div>
      </div>
      <div class="col-md-12 playerContainer">
        <div class = "row">
          <p class="info-p">Inventory:</p>
          <div ng-repeat="item in player.player1.cart">
            <div ng-click="player.sellItem(item)">
              <div class="personItem">
                <div class="col-xs-1 personItem">
                  <img class="personImage" ng-src="{{item.image}}" alt="image of {{item.name}}">
                </div>
                <div class="col-xs-2 personItem">
                  <p>Quantity: {{item.quantity.length}}</p>
                  <p>Avg Price: {{item.quantity[0] | currency : "$"}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 centered market">
        <p class="info-p">Market:</p>
      </div>
    </div>
    <div ng-controller="MarketController as market">
      <div class="row">
        <div class="col-md-12">
          <div ng-repeat="item in market.inventoryArray">
            <div class="col-sm-2 centered">
              <div class = "itemContainer centered">
                <div class="marketItem" ng-click="market.buyItem(item)">
                  <img class="center-block" ng-src="{{item.image}}" alt="image of {{item.name}}">
                  <p class="market-p">Price: {{item.price | currency : "$"}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
